<h1>Grocery List</h1>
{{input type="text" id="new-item" placeholder="Add to list" value=newItem action="createItem"}}
{{#each item in model}}
 <h3>{{link-to item.name 'items.show' item}}</h3>
{{/each}}
